@font-face {
  font-family: "iconfont"; /* Project id 3959585 */
  src: url('//at.alicdn.com/t/c/font_3959585_bsyi63pop9.woff2?t=1680681973492') format('woff2'),
       url('//at.alicdn.com/t/c/font_3959585_bsyi63pop9.woff?t=1680681973492') format('woff'),
       url('//at.alicdn.com/t/c/font_3959585_bsyi63pop9.ttf?t=1680681973492') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chacha:before {
  content: "\e60e";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-tingzhi:before {
  content: "\e640";
}

.icon-btn_nextstep:before {
  content: "\e60b";
}

.icon-hanhan-01-01:before {
  content: "\e6b6";
}

.icon-yewubaobiao:before {
  content: "\e600";
}

.icon-naozhong1:before {
  content: "\e66f";
}

.icon-juxing:before {
  content: "\e636";
}

.icon-hr:before {
  content: "\e60a";
}
